@{
    ViewData["Title"] = "PiZZZa";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>piZZZa was founded in 2017 by a few hungry developers who
    found themselves coding all night longing for a taste of
    pizza. For this reason, they created this company to
    deliver pizza 24/7 365.</p>
<br />found themselves coding all night longing for a taste of
<br />pizza. One night, the software developers were really hungry,
<br />and they had a craving for some pizza. They tried to find
<br />a place to order pizza from, but to their dismay, every
<br />pizza place around them was closed. From that moment on,
<br />they aspired to start a pizza company that would offer
<br />pizza 24/7 365 days a year so that they would never
<br />have to go another night without delicious pizza.
    </p>
